node_modules
.DS_Store
denoiser/
*.mp4
*.aac
*.hex
*.mp4a
*.m4a
server/raw_files/
server/resampled_audio_mono/
server/sent_emails/
server/split_audio/
server/cleaned_audio/
server/cleaned_audio_parts/
*.log
rnnoise
*.mp3
*.wav
sent_emails/